---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import NewsItem from "../../components/NewsItem.svelte";
const news = await getCollection("news");
---

<BaseLayout title="お知らせ一覧">
  <h1>お知らせ一覧</h1>
  <ul class="newsList">
    {news.map((item) => <NewsItem slug={item.slug} title={item.data.title} client:load />)}
  </ul>
</BaseLayout>
